/* a {
  color: inherit;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid gray;
  transition: background-color 1s, box-shadow 1s;
}

a:hover {
  background-color: aqua;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */
body {
  background-color: black;
}

header {
  min-height: 100vh;
  /* background: url(https://images.pexels.com/photos/757185/pexels-photo-757185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  transition: filter 1s;

  position: relative;
}

/* header:hover {
  filter: blur(3px);
} */

.blure-bg {
  position: absolute;
  background: url(https://images.pexels.com/photos/757185/pexels-photo-757185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  transition: filter 1s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
h1 {
  transition: filter 1s;
}
h1:hover {
  filter: blur(3px);
}
h1:hover + .blure-bg {
  filter: blur(0);
}
