table {
  border: 1px solid rgb(9, 9, 9);
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid black;
  margin: 200px;
  padding: 20px;
}

th {
  color: #fafeff;
}
th:first-child {
  background-color: #7787a9;
}

th:nth-child(2) {
  background-color: #4d628f;
}
th:nth-child(3) {
  background-color: #2a4173;
}
th:last-child {
  background-color: #142956;
}

td:nth-child(1),
td:nth-child(3) {
  background-color: #dbdbdb;
}
td:nth-child(2) {
  background-color: #e8e6e7;
}
